{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
<div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Vehicule</th>
      <th scope="col">Agence</th>
      <th scope="col">Titre</th>
      <th scope="col">Marque</th>
      <th scope="col">Modèle</th>
      <th scope="col">Description</th>
      <th scope="col">Photo</th>
      <th scope="col">Prix</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
 <tbody>
  {% for vehicule in vehicules %}

  </tbody>
</table>


{% endblock %}