*{
    list-style: none;
}

#lien{
    text-decoration: none; 
    color: black;   
}

.navbar{
    background-color: rgb(246, 187, 144);
}

footer{
    background-color: rgb(246, 187, 144);
}

#papa{
    display: flex;
    justify-content: space-around;
}

.space{
    margin: 1.5rem;

}

#reseaux{
    display: flex;
    flex-direction: column;
    
}

.img{
    margin: 0.5rem;
}