{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}

	{{ form_start(formContact) }}
	<div class="col-md-10 mx-auto">
		{{ form_row(formContact) }}
	</div>

	{{ form_end(formContact) }}

{% endblock %}
